// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Zijing AI <zixiai@users.noreply.github.com>
 * Copyright (c) 2025 Cunhao Lu <1579567540@qq.com>
 *
 * Board wiring is based on EmbedFire's LubanCat 5 BSP device tree and uses
 * upstream Linux device-tree bindings.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include <dt-bindings/usb/pd.h>
#include "rk3588.dtsi"
/* BEGIN LUBANCAT-5 V1 BTB BACKPORT */
/*
 * This inlined section is derived from the Linux rockchip
 * rk3588-lubancat-5-btb.dtsi reference pinned by the FnNAS LubanCat-5
 * build metadata.  The standalone V1 carrier supplies the BTB core from
 * vcc5v0_sys.
 */
/ {

	aliases {
		mmc0 = &sdhci;
	};

	combophy_avdd0v85: regulator-combophy-avdd0v85 {
		compatible = "regulator-fixed";
		regulator-boot-on;
		regulator-max-microvolt = <850000>;
		regulator-min-microvolt = <850000>;
		regulator-name = "combophy_avdd0v85";
		vin-supply = <&avdd_0v85_s0>;
	};

	combophy_avdd1v8: regulator-combophy-avdd1v8 {
		compatible = "regulator-fixed";
		regulator-boot-on;
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "combophy_avdd1v8";
		vin-supply = <&avcc_1v8_s0>;
	};

	vcc_1v1_nldo_s3: regulator-vcc-1v1-nldo-s3 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <1100000>;
		regulator-min-microvolt = <1100000>;
		regulator-name = "vcc_1v1_nldo_s3";
		vin-supply = <&vcc5v0_sys>;
	};
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0_s0>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_big0_s0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1_s0>;
};

&cpu_b3 {
	cpu-supply = <&vdd_cpu_big1_s0>;
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l1 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l2 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l3 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&gpu {
	mali-supply = <&vdd_gpu_s0>;
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0m2_xfer>;
	pinctrl-names = "default";
	status = "okay";

	vdd_cpu_big0_s0: regulator@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <1050000>;
		regulator-min-microvolt = <550000>;
		regulator-name = "vdd_cpu_big0_s0";
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc5v0_sys>;
		fcs,suspend-voltage-selector = <1>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_cpu_big1_s0: regulator@43 {
		compatible = "rockchip,rk8603", "rockchip,rk8602";
		reg = <0x43>;
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <1050000>;
		regulator-min-microvolt = <550000>;
		regulator-name = "vdd_cpu_big1_s0";
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc5v0_sys>;
		fcs,suspend-voltage-selector = <1>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1m2_xfer>;
	pinctrl-names = "default";
	status = "okay";

	vdd_npu_s0: regulator@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		regulator-boot-on;
		regulator-max-microvolt = <950000>;
		regulator-min-microvolt = <550000>;
		regulator-name = "vdd_npu_s0";
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc5v0_sys>;
		fcs,suspend-voltage-selector = <1>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&pd_gpu {
	domain-supply = <&vdd_gpu_s0>;
};

&pd_npu {
	domain-supply = <&vdd_npu_s0>;
};

&sdhci {
	bus-width = <8>;
	max-frequency = <200000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	no-sd;
	no-sdio;
	non-removable;
	status = "okay";
};

&sfc {
	status = "disabled";
};

&spi2 {
	assigned-clock-rates = <200000000>;
	assigned-clocks = <&cru CLK_SPI2>;
	num-cs = <1>;
	pinctrl-0 = <&spi2m2_cs0 &spi2m2_pins>;
	pinctrl-names = "default";
	status = "okay";

	pmic@0 {
		compatible = "rockchip,rk806";
		reg = <0x0>;
		#gpio-cells = <2>;
		gpio-controller;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA7 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&pmic_pins>, <&rk806_dvs1_null>,
			    <&rk806_dvs2_null>, <&rk806_dvs3_null>;
		pinctrl-names = "default";
		spi-max-frequency = <1000000>;
		system-power-controller;

		vcc1-supply = <&vcc5v0_sys>;
		vcc2-supply = <&vcc5v0_sys>;
		vcc3-supply = <&vcc5v0_sys>;
		vcc4-supply = <&vcc5v0_sys>;
		vcc5-supply = <&vcc5v0_sys>;
		vcc6-supply = <&vcc5v0_sys>;
		vcc7-supply = <&vcc5v0_sys>;
		vcc8-supply = <&vcc5v0_sys>;
		vcc9-supply = <&vcc5v0_sys>;
		vcc10-supply = <&vcc5v0_sys>;
		vcc11-supply = <&vcc_2v0_pldo_s3>;
		vcc12-supply = <&vcc5v0_sys>;
		vcc13-supply = <&vcc_1v1_nldo_s3>;
		vcc14-supply = <&vcc_1v1_nldo_s3>;
		vcca-supply = <&vcc5v0_sys>;

		rk806_dvs1_null: dvs1-null-pins {
			function = "pin_fun0";
			pins = "gpio_pwrctrl1";
		};

		rk806_dvs2_null: dvs2-null-pins {
			function = "pin_fun0";
			pins = "gpio_pwrctrl2";
		};

		rk806_dvs3_null: dvs3-null-pins {
			function = "pin_fun0";
			pins = "gpio_pwrctrl3";
		};

		regulators {
			vdd_gpu_s0: vdd_gpu_mem_s0: dcdc-reg1 {
				regulator-boot-on;
				regulator-enable-ramp-delay = <400>;
				regulator-max-microvolt = <950000>;
				regulator-min-microvolt = <550000>;
				regulator-name = "vdd_gpu_s0";
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_lit_s0: dcdc-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <950000>;
				regulator-min-microvolt = <550000>;
				regulator-name = "vdd_cpu_lit_s0";
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_log_s0: dcdc-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <800000>;
				regulator-min-microvolt = <675000>;
				regulator-name = "vdd_log_s0";
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vdd_vdenc_s0: vdd_vdenc_mem_s0: dcdc-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <950000>;
				regulator-min-microvolt = <550000>;
				regulator-name = "vdd_vdenc_s0";
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_ddr_s0: dcdc-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <900000>;
				regulator-min-microvolt = <675000>;
				regulator-name = "vdd_ddr_s0";
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <850000>;
				};
			};

			vdd2_ddr_s3: dcdc-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vdd2_ddr_s3";

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_2v0_pldo_s3: dcdc-reg7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <2000000>;
				regulator-min-microvolt = <2000000>;
				regulator-name = "vcc_2v0_pldo_s3";
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <2000000>;
				};
			};

			vcc_3v3_s3: dcdc-reg8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <3300000>;
				regulator-min-microvolt = <3300000>;
				regulator-name = "vcc_3v3_s3";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vddq_ddr_s0: dcdc-reg9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vddq_ddr_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8_s3: dcdc-reg10 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <1800000>;
				regulator-min-microvolt = <1800000>;
				regulator-name = "vcc_1v8_s3";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd_0v75_s3: nldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <750000>;
				regulator-min-microvolt = <750000>;
				regulator-name = "vdd_0v75_s3";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			avdd_ddr_pll_s0: nldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <850000>;
				regulator-min-microvolt = <850000>;
				regulator-name = "avdd_ddr_pll_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <850000>;
				};
			};

			avdd_0v75_s0: nldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <837500>;
				regulator-min-microvolt = <837500>;
				regulator-name = "avdd_0v75_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			avdd_0v85_s0: nldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <850000>;
				regulator-min-microvolt = <850000>;
				regulator-name = "avdd_0v85_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_0v75_s0: nldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <750000>;
				regulator-min-microvolt = <750000>;
				regulator-name = "vdd_0v75_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			avcc_1v8_s0: pldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <1800000>;
				regulator-min-microvolt = <1800000>;
				regulator-name = "avcc_1v8_s0";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc_1v8_s0: pldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <1800000>;
				regulator-min-microvolt = <1800000>;
				regulator-name = "vcc_1v8_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			avdd_1v2_s0: pldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <1200000>;
				regulator-min-microvolt = <1200000>;
				regulator-name = "avdd_1v2_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			avcc_3v3_s0: pldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <3300000>;
				regulator-min-microvolt = <3300000>;
				regulator-name = "avcc_3v3_s0";
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd_s0: pldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <3300000>;
				regulator-min-microvolt = <1800000>;
				regulator-name = "vccio_sd_s0";
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			pldo6_s3: pldo-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <1800000>;
				regulator-min-microvolt = <1800000>;
				regulator-name = "pldo6_s3";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};
		};
	};
};

&tsadc {
	status = "okay";
};

&wdt {
	status = "okay";
};
/* END LUBANCAT-5 V1 BTB BACKPORT */

#include "rk3588s-ip.dtsi"
#include "rk3588s-ip-supply.dtsi"

/ {
	model = "EmbedFire LubanCat 5";
	compatible = "embedfire,lubancat-5", "embedfire,lubancat-5-btb",
		     "rockchip,rk3588";

	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		mmc1 = &sdmmc;
		rtc0 = &hym8563;
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		button-recovery {
			label = "Recovery";
			linux,code = <KEY_VENDOR>;
			press-threshold-microvolt = <1750>;
		};
	};

	/*
	 * PWM4 M0 matches the LubanCat V1 wiring.  The period, levels and
	 * start pulse are based on V1 hardware tests with its two-wire fan.
	 * Minimum starting duty and speed response may vary between fans.
	 */
	fan: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		cooling-levels = <0 130 160 190 200>;
		fan-stop-to-start-percent = <79>;
		fan-stop-to-start-us = <200000>;
		pwms = <&pwm4 0 50000 0>;
	};

	headphone_amplifier: headphone-amplifier {
		compatible = "simple-audio-amplifier";
		enable-gpios = <&gpio1 RK_PB5 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&headphone_amp_enable>;
		pinctrl-names = "default";
		sound-name-prefix = "Headphone Amplifier";
	};

	hdmi0-con {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi0_con_in: endpoint {
				remote-endpoint = <&hdmi0_out_con>;
			};
		};
	};

	hdmi1-con {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi1_con_in: endpoint {
				remote-endpoint = <&hdmi1_out_con>;
			};
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&sys_led_pin>;
		pinctrl-names = "default";

		led-0 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio0 RK_PD3 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};

	sound {
		compatible = "simple-audio-card";
		pinctrl-0 = <&headphone_detect>;
		pinctrl-names = "default";
		simple-audio-card,aux-devs = <&headphone_amplifier>;
		simple-audio-card,format = "i2s";
		simple-audio-card,hp-det-gpios =
			<&gpio1 RK_PD3 GPIO_ACTIVE_HIGH>;
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rk3588-es8388";
		simple-audio-card,pin-switches = "Headphones", "Main Mic",
						 "Headset Mic";
		simple-audio-card,routing =
			"Headphone Amplifier INL", "LOUT1",
			"Headphone Amplifier INR", "ROUT1",
			"Headphones", "Headphone Amplifier OUTL",
			"Headphones", "Headphone Amplifier OUTR",
			"LINPUT1", "Main Mic",
			"LINPUT2", "Main Mic",
			"RINPUT1", "Headset Mic",
			"RINPUT2", "Headset Mic";
		simple-audio-card,widgets =
			"Microphone", "Main Mic",
			"Microphone", "Headset Mic",
			"Headphone", "Headphones";

		simple-audio-card,cpu {
			sound-dai = <&i2s0_8ch>;
		};

		simple-audio-card,codec {
			sound-dai = <&es8388>;
			system-clock-frequency = <12288000>;
		};
	};

	vcc12v_dcin: regulator-vcc12v-dcin {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <12000000>;
		regulator-min-microvolt = <12000000>;
		regulator-name = "vcc12v_dcin";
	};

	vcc5v0_sys: regulator-vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-name = "vcc5v0_sys";
		vin-supply = <&vcc12v_dcin>;
	};

	vcc3v3_sys: regulator-vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "vcc3v3_sys";
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_usb: regulator-vcc5v0-usb {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-name = "vcc5v0_usb";
		vin-supply = <&vcc5v0_sys>;
	};

	vbus_typec: regulator-vbus-typec {
		compatible = "regulator-fixed";
		enable-active-high;
		gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&typec_vbus_enable>;
		pinctrl-names = "default";
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-name = "vbus_typec";
		vin-supply = <&vcc5v0_usb>;
	};

	vcc_3v3_s0: regulator-vcc-3v3-s0 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "vcc_3v3_s0";
		vin-supply = <&vcc_3v3_s3>;
	};

	vcc_3v3_sd_s3: regulator-vcc-3v3-sd-s3 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "vcc_3v3_sd_s3";
		vin-supply = <&vcc_3v3_s3>;
	};
};

&rkvenc1_mmu {
	/delete-property/ lock-names;
	clock-names = "aclk", "iface";
};

/* The packaged kernel does not provide an RK3588 crypto driver. */
&crypto {
	status = "disabled";
};

/* Reuse the base SRAM pools instead of overlapping BSP duplicates. */
&system_sram2 {
	/delete-node/ rkvdec-sram@0;
	/delete-node/ rkvdec-sram@78000;
};

&rkvdec0 {
	rockchip,sram = <&vdec0_sram>;
};

&rkvdec1 {
	rockchip,sram = <&vdec1_sram>;
};

&combphy0_ps {
	status = "okay";
};

&combphy1_ps {
	status = "okay";
};

&gmac0 {
	clock_in_out = "output";
	phy-handle = <&rgmii_phy0>;
	/* The PHY supplies RX delay; the controller supplies the TX delay. */
	phy-mode = "rgmii-rxid";
	pinctrl-0 = <&gmac0_miim &gmac0_tx_bus2 &gmac0_rx_bus2
		     &gmac0_rgmii_clk &gmac0_rgmii_bus>;
	pinctrl-names = "default";
	tx_delay = <0x20>;
	status = "okay";
};

&gmac1 {
	clock_in_out = "output";
	phy-handle = <&rgmii_phy1>;
	/* The PHY supplies RX delay; the controller supplies the TX delay. */
	phy-mode = "rgmii-rxid";
	pinctrl-0 = <&gmac1_miim &gmac1_tx_bus2 &gmac1_rx_bus2
		     &gmac1_rgmii_clk &gmac1_rgmii_bus>;
	pinctrl-names = "default";
	tx_delay = <0x20>;
	status = "okay";
};

&hdmi0 {
	frl-enable-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&hdmim0_tx0_cec &hdmim0_tx0_hpd
		    &hdmim0_tx0_scl &hdmim0_tx0_sda>;
	pinctrl-names = "default";
	status = "okay";
};

&hdmi0_in {
	hdmi0_in_vp0: endpoint {
		remote-endpoint = <&vp0_out_hdmi0>;
	};
};

&hdmi0_out {
	hdmi0_out_con: endpoint {
		remote-endpoint = <&hdmi0_con_in>;
	};
};

&hdmi0_sound {
	status = "okay";
};

&hdmi1 {
	frl-enable-gpios = <&gpio1 RK_PC6 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&hdmi1_in {
	hdmi1_in_vp1: endpoint {
		remote-endpoint = <&vp1_out_hdmi1>;
	};
};

&hdmi1_out {
	hdmi1_out_con: endpoint {
		remote-endpoint = <&hdmi1_con_in>;
	};
};

&hdmi1_sound {
	status = "okay";
};

&hdptxphy0 {
	status = "okay";
};

&hdptxphy1 {
	status = "okay";
};

&i2c0 {
	hym8563: rtc@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-output-names = "hym8563";
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB0 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&hym8563_int>;
		pinctrl-names = "default";
		wakeup-source;
	};
};

&i2c1 {
	status = "okay";

	usbc0: usb-typec@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC4 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&usbc0_interrupt>;
		pinctrl-names = "default";
		vbus-supply = <&vbus_typec>;

		connector {
			compatible = "usb-c-connector";
			data-role = "dual";
			label = "USB-C";
			op-sink-microwatt = <1000000>;
			power-role = "dual";
			sink-pdos = <PDO_FIXED(5000, 1000, PDO_FIXED_USB_COMM)>;
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			try-power-role = "sink";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					usbc0_role_switch: endpoint {
						remote-endpoint = <&usb_host0_xhci_role_switch>;
					};
				};

				port@1 {
					reg = <1>;

					usbc0_orientation_switch: endpoint {
						remote-endpoint = <&usbdp_phy0_orientation_switch>;
					};
				};
			};
		};
	};
};

&i2c7 {
	pinctrl-0 = <&i2c7m0_xfer>;
	pinctrl-names = "default";
	status = "okay";

	es8388: audio-codec@11 {
		compatible = "everest,es8388", "everest,es8328";
		reg = <0x11>;
		AVDD-supply = <&avcc_3v3_s0>;
		DVDD-supply = <&vcc_1v8_s3>;
		HPVDD-supply = <&avcc_3v3_s0>;
		PVDD-supply = <&vcc_1v8_s3>;
		assigned-clock-rates = <12288000>;
		assigned-clocks = <&cru I2S0_8CH_MCLKOUT_TO_IO>;
		clocks = <&cru I2S0_8CH_MCLKOUT_TO_IO>;
		#sound-dai-cells = <0>;
	};
};

&i2s0_8ch {
	pinctrl-0 = <&i2s0_lrck
		    &i2s0_mclk
		    &i2s0_sclk
		    &i2s0_sdi0
		    &i2s0_sdo0>;
	pinctrl-names = "default";
	status = "okay";
};

&i2s5_8ch {
	status = "okay";
};

&i2s6_8ch {
	status = "okay";
};

&mdio0 {
	rgmii_phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio4 RK_PC6 GPIO_ACTIVE_LOW>;
	};
};

&mdio1 {
	rgmii_phy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	};
};

/* M.2 E-Key (Wi-Fi/BT). */
&pcie2x1l0 {
	reset-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_sys>;
	status = "okay";
};

/* Mini-PCIe. */
&pcie2x1l2 {
	reset-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_sys>;
	status = "okay";
};

&pcie30phy {
	data-lanes = <1 1 1 1>;
	status = "okay";
};

/* M.2 M-Key (NVMe). */
&pcie3x4 {
	reset-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_sys>;
	status = "okay";
};

&package_thermal {
	polling-delay = <1000>;

	trips {
		package_fan0: package-fan0 {
			temperature = <40000>;
			hysteresis = <3000>;
			type = "active";
		};

		package_fan1: package-fan1 {
			temperature = <50000>;
			hysteresis = <3000>;
			type = "active";
		};

		package_fan2: package-fan2 {
			temperature = <60000>;
			hysteresis = <3000>;
			type = "active";
		};

		package_fan3: package-fan3 {
			temperature = <70000>;
			hysteresis = <3000>;
			type = "active";
		};
	};

	cooling-maps {
		map0 {
			trip = <&package_fan0>;
			cooling-device = <&fan 1 1>;
		};

		map1 {
			trip = <&package_fan1>;
			cooling-device = <&fan 2 2>;
		};

		map2 {
			trip = <&package_fan2>;
			cooling-device = <&fan 3 3>;
		};

		map3 {
			trip = <&package_fan3>;
			cooling-device = <&fan 4 4>;
		};
	};
};

&pinctrl {
	audio {
		headphone_amp_enable: headphone-amp-enable {
			rockchip,pins = <1 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		headphone_detect: headphone-detect {
			rockchip,pins = <1 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	hym8563 {
		hym8563_int: hym8563-int {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	leds {
		sys_led_pin: sys-led-pin {
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb-typec {
		typec_vbus_enable: typec-vbus-enable {
			rockchip,pins = <2 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usbc0_interrupt: usbc0-interrupt {
			rockchip,pins = <0 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&pwm4 {
	pinctrl-0 = <&pwm4m0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&saradc {
	vref-supply = <&avcc_1v8_s0>;
	status = "okay";
};

/* TF card; eMMC is enabled by the inlined V1 BTB power/PMIC section. */
&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	max-frequency = <200000000>;
	no-mmc;
	no-sdio;
	pinctrl-0 = <&sdmmc_bus4 &sdmmc_clk &sdmmc_cmd &sdmmc_det>;
	pinctrl-names = "default";
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_sd_s3>;
	vqmmc-supply = <&vccio_sd_s0>;
	status = "okay";
};

&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
};

&u2phy1 {
	status = "okay";
};

&u2phy1_otg {
	phy-supply = <&vcc5v0_usb>;
	status = "okay";
};

&u2phy2 {
	status = "okay";
};

&u2phy2_host {
	phy-supply = <&vcc5v0_usb>;
	status = "okay";
};

&u2phy3 {
	status = "okay";
};

&u2phy3_host {
	phy-supply = <&vcc5v0_usb>;
	status = "okay";
};

&usbdp_phy0 {
	orientation-switch;
	status = "okay";

	port {
		usbdp_phy0_orientation_switch: endpoint {
			remote-endpoint = <&usbc0_orientation_switch>;
		};
	};
};

&usbdp_phy1 {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host0_xhci {
	usb-role-switch;
	status = "okay";

	port {
		usb_host0_xhci_role_switch: endpoint {
			remote-endpoint = <&usbc0_role_switch>;
		};
	};
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usb_host1_xhci {
	dr_mode = "host";
	status = "okay";
};

&uart2 {
	pinctrl-0 = <&uart2m0_xfer>;
	pinctrl-names = "default";
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vp0 {
	vp0_out_hdmi0: endpoint@ROCKCHIP_VOP2_EP_HDMI0 {
		reg = <ROCKCHIP_VOP2_EP_HDMI0>;
		remote-endpoint = <&hdmi0_in_vp0>;
	};
};

&vp1 {
	vp1_out_hdmi1: endpoint@ROCKCHIP_VOP2_EP_HDMI1 {
		reg = <ROCKCHIP_VOP2_EP_HDMI1>;
		remote-endpoint = <&hdmi1_in_vp1>;
	};
};

&wdt {
	status = "okay";
};
